{% extends 'base.html' %}
{% block content %}
<div class="px-2">
    <form  role="form"  enctype="multipart/form-data" action="/dote/search/" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        <div class="text-center">Nombre</div>
            {{buscador.nombre}}
            <br>
        <div class="text-center">Tipo</div>
            {{buscador.tipo}}
            <br>
        <div class="text-center">¿Es dote de compañero animal?</div>
            {{buscador.es_dote_companero_animal}}
        <div class="text-center">
            <button type="submit" class="btn btn-dark mr-2">Buscar</button>
        </div>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
    </form>
</div>
{% if buscador.var == True %}
<div class="container">
<div class="row d-flex justify-content-center mt-4">
  <div class="col-sm-2 d-flex justify-content-center">
    <a href="/dote/create/" class="btn btn-md btn-dark ">Crear dote</a>
  </div>
</div>
</div>
{% endif %}
{% if dotes %}
<div class="container">
  <div class="row" style="background-color:#68E4F0;">
      <div class="col-lg-2 border">
        <p>Nombre</p>
      </div>
      <div class="col-lg-1 border">
          <p>Tipo</p>
      </div>
      <div class="col border">
        <p>Descripción</p>
    </div>
  </div>
</div>
<div class="container">
  {% for dote in dotes %}
  <div class="row border">
      <div class="col-lg-2 d-flex align-items-center border">
        <a href="/dote/show/{{dote.pk}}">{{dote.nombre}}</a>
      </div>
      <div class="col-lg-1 d-flex align-items-center border">
          <p class="align-text-middle">{{dote.tipo}}</p>
      </div>
      <div class="col border">
        <p class="align-text-middle">{{dote.descripcion}}</p>
    </div>  
  </div>
  {% endfor %}
</div>
{% endif %}
    {% if dotes %}
    <div class="container mb-2">
      <ul class="pagination d-flex justify-content-center">
        {% if dotes.has_previous %}
        <form  role="form"  enctype="multipart/form-data" action="/dote/search/?page={{dotes.previous_page_number}}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">Anterior</button></li>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        {% if buscador.tipo.value != None %}
        <input type="hidden" id="nombre" name="tipo" value={{buscador.tipo.value}}>
        {% endif %}
        {% if buscador.es_dote_companero_animal.value != None %}
        <input type="hidden" id="es_dote_companero_animal" name="es_dote_companero_animal" value={{buscador.es_dote_companero_animal.value}}>
        {% endif %}
        </form>
        {% endif %}
        {% for num in dotes.paginator.page_range %}
        {% ifequal num dotes.number %}
        <li class="page-item active">
          <span class="page-link">
            {{ num }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% else %}
        <form  role="form"  enctype="multipart/form-data" action="/dote/search/?page={{ num }}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">{{ num }}</button></li>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        {% if buscador.tipo.value != None %}
        <input type="hidden" id="nombre" name="tipo" value={{buscador.tipo.value}}>
        {% endif %}
        {% if buscador.es_dote_companero_animal.value != None %}
        <input type="hidden" id="es_dote_companero_animal" name="es_dote_companero_animal" value={{buscador.es_dote_companero_animal.value}}>
        {% endif %}
        </form>
        {% endifequal %}
        {% endfor %}
        {% if dotes.has_next %}
        <form  role="form"  enctype="multipart/form-data" action="/dote/search/?page={{dotes.next_page_number}}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
        <li class="page-item"><button type="submit" class="page-link">Siguiente</button></li>
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        {% if buscador.tipo.value != None %}
        <input type="hidden" id="nombre" name="tipo" value={{buscador.tipo.value}}>
        {% endif %}
        {% if buscador.es_dote_companero_animal.value != None %}
        <input type="hidden" id="es_dote_companero_animal" name="es_dote_companero_animal" value={{buscador.es_dote_companero_animal.value}}>
        {% endif %}
        </form>
        {% endif %}
      </ul>
    </div>
    {%endif%}
    <div class="container">
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-sm-1 d-grid gap-2">
          <a href="/" class="btn btn-md btn-dark ">Atrás</a>
        </div>
      </div>
    </div>
{% endblock %}