{% extends 'base.html' %}
{% block content %}
<div class="px-2">
    <form  role="form"  enctype="multipart/form-data" action="/conjuro/search/{{pk}}/" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        <div class="text-center">Nombre</div>
            {{buscador.nombre}}
            <br>
        <div class="text-center">Nivel</div>
            {{buscador.nivel}}
            <br>
        <div class="text-center">
            <button type="submit" class="btn btn-dark mr-2">Buscar</button>
        </div>
    </form>
</div>
<div class="container mt-3">
  <div class="row" style="background-color:#68E4F0;">
      <div class="col-lg-2 border">
        <p>Nombre</p>
      </div>
      <div class="col-lg-1 border">
          <p>Nivel</p>
      </div>
      <div class="col border text-center">
        <p>Descripción</p>
    </div>
  </div>
</div>
<div class="container">
  {% for conjuro in conjuros %}
  <div class="row">
      <div class="col-lg-2 d-flex align-items-center border">
        <a href="/conjuro/show/{{conjuro.pk}}">{{conjuro.nombre}}</a>
      </div>
      <div class="col-lg-1 d-flex align-items-center border">
          <p class="align-text-middle">{{conjuro.nivel}}</p>
      </div>
      <div class="col d-flex align-items-center border">
        <p class="align-text-middle">{{conjuro.descripcion}}</p>
    </div>  
  </div>
  {% endfor %}
</div>
    {% if conjuros %}
    <div class="container mt-4">
      <ul class="pagination d-flex justify-content-center">
        {% if conjuros.has_previous %}
        <form  role="form"  enctype="multipart/form-data" action="/conjuro/search/{{pk}}/?page={{conjuros.previous_page_number}}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">Anterior</button></li>
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        {% if buscador.nivel.value != None %}
        <input type="hidden" id="nivel" name="nivel" value={{buscador.nivel.value}}>
        {% endif %}
        </form>
        {% endif %}
        {% for num in conjuros.paginator.page_range %}
        {% ifequal num conjuros.number %}
        <li class="page-item active">
          <span class="page-link">
            {{ num }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% else %}
        <form  role="form"  enctype="multipart/form-data" action="/conjuro/search/{{pk}}/?page={{ num }}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">{{ num }}</button></li>
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        {% if buscador.nivel.value != None %}
        <input type="hidden" id="nivel" name="nivel" value={{buscador.nivel.value}}>
        {% endif %}
        </form>
        {% endifequal %}
        {% endfor %}
        {% if conjuros.has_next %}
        <form  role="form"  enctype="multipart/form-data" action="/conjuro/search/{{pk}}/?page={{conjuros.next_page_number}}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">Siguiente</button></li>
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        {% if buscador.nivel.value != None %}
        <input type="hidden" id="nivel" name="nivel" value={{buscador.nivel.value}}>
        {% endif %}
        </form>
        {% endif %}
      </ul>
    </div>
    {%endif%}
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-1 d-grid gap-2">
          <input type="button" class="btn btn-dark" value="Atrás" onclick="history.back()">
        </div>
      </div>
  </div>
{% endblock %}