{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    {% for linaje in linajes %}
    <div class="row">
        <div class="col-fluid">
            <div class="card mx-auto" style="width: 18rem;">
            <a class="card-block stretched-link text-decoration-none" href="/linaje/show/{{linaje.pk}}"></a>
            <div class="card-body">
                <h5 class="card-title text-center">{{linaje.nombre}}</h5>
            </div>
            </div>
            <br>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}