{% extends 'base.html' %}
{% block content %}
<div class="px-2">
    <form  role="form"  enctype="multipart/form-data" action="/personaje/search/" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        <div class="text-center">Nombre</div>
            {{buscador.nombre}}
            <br>
        <div class="text-center">Clase</div>
            {{buscador.clase}}
            <br>
        <div class="text-center">
            <button type="submit" class="btn btn-dark mr-2">Buscar</button>
        </div>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
    </form>
</div>
<div class="container">
  <div class="row d-flex justify-content-center mx-auto mb-1">
      <div class="col-lg-1">
        <p>Nombre</p>
      </div>
      <div class="col-lg-1">
          <p>Raza</p>
      </div>
      <div class="col-lg-1">
        <p>Clase</p>
    </div>
      <div class="col-lg-1">
        <p>Nivel</p>
    </div>
    <div class="col-lg-1">
      <p>Creador</p>
  </div>
  </div>
  {% for personaje in personajes %}
  <div class="row d-flex justify-content-center mx-auto mb-1">
      <div class="col-lg-1 align-self-center">
        <a href="/personaje/show/{{personaje.pk}}">{{personaje.nombre}}</a>
      </div>
      <div class="col-lg-1 align-self-center">
          <p class="align-text-middle">{{personaje.raza.raza}}</p>
      </div>
      <div class="col-lg-1 align-self-center">
        <p class="align-text-middle">{{personaje.clase.clase}}</p>
    </div>
      <div class="col-lg-1 align-self-center">
        <p class="align-text-middle">{{personaje.nivel}}</p>
    </div>  
    <div class="col-lg-1 align-self-center">
      <a href="/perfil/show/{{personaje.perfil.pk}}">{{personaje.perfil.nickname}}</a>
  </div>  
  </div>
  {% endfor %}
</div>
    {% if personajes %}
    <div class="container">
      <ul class="pagination d-flex justify-content-center">
        {% if personajes.has_previous %}
        <form  role="form"  enctype="multipart/form-data" action="/personaje/search/?page={{personajes.previous_page_number}}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">Anterior</button></li>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
        {% if buscador.clase.value != None %}
        <input type="hidden" id="clase" name="clase" value={{buscador.clase.value}}>
        {% endif %}
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        </form>
        {% endif %}
        {% for num in personajes.paginator.page_range %}
        {% ifequal num personajes.number %}
        <li class="page-item active">
          <span class="page-link">
            {{ num }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% else %}
        <form  role="form"  enctype="multipart/form-data" action="/personaje/search/?page={{ num }}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">{{ num }}</button></li>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
        {% if buscador.clase.value != None %}
        <input type="hidden" id="clase" name="clase" value={{buscador.clase.value}}>
        {% endif %}
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        </form>
        {% endifequal %}
        {% endfor %}
        {% if personajes.has_next %}
        <form  role="form"  enctype="multipart/form-data" action="/personaje/search/?page={{personajes.next_page_number}}" method="POST" id="upload-image-form">
          {% csrf_token %}
        <li class="page-item"><button type="submit" class="page-link">Siguiente</button></li>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
        {% if buscador.clase.value != None %}
        <input type="hidden" id="clase" name="clase" value={{buscador.clase.value}}>
        {% endif %}
        {% if buscador.nombre.value != None %}
        <input type="hidden" id="nombre" name="nombre" value={{buscador.nombre.value}}>
        {% endif %}
        </form>
        {%else%}
        {% endif %}
      </ul>
    </div>
    {%endif%}
    {% endblock %}