{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
                <h1 class="display-4 py-2 text-center">Crear personaje</h1>
                {% if formulario_paso_4.errors %}
                    {% for field in formulario_paso_4 %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="/personaje/create/4/" method="POST" id="upload-image-form"> 
                        {% csrf_token %}
                        <div class="text-center">Conjuros de nivel 0</div>
                            Debes elegir {{cantidad_conjuros_conocidos_0_eleccion}} conjuros de nivel 0<br>
                            {{formulario_paso_4.conjuros_conocidos_0}}
                            <br>
                        <div class="text-center">Conjuros de nivel 1</div>
                            Debes elegir {{cantidad_conjuros_conocidos_1_eleccion}} conjuros de nivel 1<br>
                            {{formulario_paso_4.conjuros_conocidos_1}}
                            <br>
                        <input type="hidden" id="nombre" name="nombre" value={{nombre}}>
                        <input type="hidden" id="raza" name="raza" value={{raza}}>
                        <input type="hidden" id="clase" name="clase" value={{clase}}>
                        <input type="hidden" id="alineamiento" name="alineamiento" value={{alineamiento}}>
                        <input type="hidden" id="fuerza" name="fuerza" value={{fuerza}}>
                        <input type="hidden" id="destreza" name="destreza" value={{destreza}}>
                        <input type="hidden" id="constitucion" name="constitucion" value={{constitucion}}>
                        <input type="hidden" id="inteligencia" name="inteligencia" value={{inteligencia}}>
                        <input type="hidden" id="sabiduria" name="sabiduria" value={{sabiduria}}>
                        <input type="hidden" id="carisma" name="carisma" value={{carisma}}>
                        <input type="hidden" id="linaje" name="linaje" value={{linaje}}>
                        <input type="hidden" id="dotes" name="dotes" value={{dotes}}>
                        <input type="hidden" id="habilidades" name="habilidades" value={{habilidades}}>
                        <input type="hidden" id="idiomas" name="idiomas" value={{idiomas}}>
                        <input type="hidden" id="cantidad_conjuros_conocidos_0_eleccion" name="cantidad_conjuros_conocidos_0_eleccion" value={{cantidad_conjuros_conocidos_0_eleccion}}>
                        <input type="hidden" id="cantidad_conjuros_conocidos_1_eleccion" name="cantidad_conjuros_conocidos_1_eleccion" value={{cantidad_conjuros_conocidos_1_eleccion}}>
                        <div class="text-center">
                            <button type='submit' class="btn btn-primary btn-dark">Siguiente</button>
                        </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}