{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
                <h1 class="display-4 py-2 text-center">Crear personaje</h1>
                {% if formulario_paso_2.errors %}
                    {% for field in formulario_paso_2 %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="/personaje/create/2/" method="POST" id="upload-image-form"> 
                        {% csrf_token %}
                        <div class="text-center">Fuerza</div>
                            {{formulario_paso_2.fuerza}}
                            <br>
                        <div class="text-center">Destreza</div>
                            {{formulario_paso_2.destreza}}
                            <br>
                        <div class="text-center">Constitución</div>
                            {{formulario_paso_2.constitucion}}
                            <br>
                        <div class="text-center">Inteligencia</div>
                            {{formulario_paso_2.inteligencia}}
                            <br>
                        <div class="text-center">Sabiduría</div>
                            {{formulario_paso_2.sabiduria}}
                            <br>
                        <div class="text-center">Carisma</div>
                            {{formulario_paso_2.carisma}}
                            <br>
                        {% if raza.raza == 'Humano' %}
                        <div class="text-center">Elección de característica</div>
                            {{formulario_paso_2.caracteristica_choice}}
                            <br>
                        {% endif %}
                        <input type="hidden" id="nombre" name="nombre" value="{{nombre}}">
                        <input type="hidden" id="puntos_a_elegir" name="puntos_a_elegir" value="{{puntos_a_elegir}}">
                        <input type="hidden" id="raza" name="raza" value="{{raza}}">
                        <input type="hidden" id="clase" name="clase" value="{{clase}}">
                        <input type="hidden" id="alineamiento" name="clase" value="{{alineamiento}}">
                        <div class="text-center">
                            <button type='submit' class="btn btn-primary btn-dark">Siguiente</button>
                        </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}