{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
                <h1 class="display-4 py-2 text-center">Crear personaje</h1>
                {% if formulario.errors %}
                    {% for field in formulario %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="/personaje/create/" method="POST" id="upload-image-form"> 
                        {% csrf_token %}
                        <div class="text-center">Nombre</div>
                            {{formulario.nombre}}
                            <br>
                        <div class="text-center">Raza</div>
                            {{formulario.raza}}
                            <br>
                        <div class="text-center">Clase</div>
                            {{formulario.clase}}
                            <br>
                        <div class="text-center">Tipo de campaña</div>
                            {{formulario.tipo}}
                            <br>
                        <div class="text-center">Alineamiento</div>
                            {{formulario.alineamiento}}
                            <br>
                        <div class="text-center">
                            <button type='submit' class="btn btn-primary btn-dark">Siguiente</button>
                        </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}