{% extends 'base.html' %}
{% block content %}
<div class="px-2">
    <form  role="form"  enctype="multipart/form-data" action="/dote/search/" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        <div class="text-center">Nombre</div>
            {{buscador.nombre}}
            <br>
        <div class="text-center">Tipo</div>
            {{buscador.tipo}}
            <br>
        <div class="text-center">¿Es dote de compañero animal?</div>
            {{buscador.es_dote_companero_animal}}
            <br>
        <div class="text-center">
            <button type="submit" class="btn btn-dark mr-2">Buscar</button>
        </div>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
    </form>
</div>
    {% for dote in dotes %}
        {{dote.nombre}}
    {% endfor %}

    {% if dotes %}
    <div class="container">
      <ul class="pagination d-flex justify-content-center">
        {% if dotes.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{dotes.previous_page_number}}">Anterior</a></li>
        {% else %}
        {% if not buscador %}
        <li class="page-item disabled">
          <span class="page-link">Anterior</span>
        </li>
        {% endif %}
        {% endif %}
        {% for num in dotes.paginator.page_range %}
        {% ifequal num dotes.number %}
        <li class="page-item active">
          <span class="page-link">
            {{ num }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endifequal %}
        {% endfor %}
        {% if dotes.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{dotes.next_page_number }}">Siguiente</a>
        </li>
        {%else%}
        {% if not buscador %}
        <li class="page-item disabled">
          <span class="page-link">Siguiente</span>
        </li>
        {% endif %}
        {% endif %}
  
      </ul>
    </div>
    {%endif%}
{% endblock %}