{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center mx-auto">
    <h2>{{poder.nombre}}</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h6 class="d-inline">Prerrequisito de nivel: </h6>
            <p class="d-inline">{{poder.nivel}}</p>
            <br>
            {% if poder.prerrequisito_poder.all %}
            <h6 class="d-inline">Poderes que tiene como prerrequisito: </h6>
            {% for p in poder.prerrequisito_poder.all %}
            <a class="d-inline" href="/poder/show/{{p.pk}}">{{p.nombre}}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-3">
    <h4 class="text-center">Bonificación</h2>
    <p>{{poder.descripcion}}</p>
</div>
{% endblock %}