{% extends 'base.html' %}
{% block content %}
    {{perfil.nickname}}

    <div class="bottom-footer">
        <div class="container">
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div class="display-6 text-center">Clases favoritas</div>
      <br>
      <div class="d-flex justify-content-center">
      <canvas id="myChart" width="300" height="300"></canvas>
      </div>
    </div>
</div>
      <script>
        var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ['Bárbaro', 'Bardo', 'Clérigo', 'Druida', 'Explorador', 'Guerrero', 'Hechicero', 'Mago', 'Monje', 'Paladín', 'Pícaro'],
    datasets: [{
      data: ["{{num_barbaro}}","{{num_bardo}}", "{{num_clerigo}}", "{{num_druida}}", "{{num_explorador}}", "{{num_guerrero}}", "{{num_hechicero}}", "{{num_mago}}", "{{num_monje}}", "{{num_paladin}}", "{{num_picaro}}"],
      backgroundColor: [
        'rgba(110, 44, 0, 0.9)',
        'rgba(250, 128, 114, 0.9)',
        'rgba(244, 208, 63, 0.9)',
        'rgba(24, 106, 59, 0.9)',
        'rgba(46, 64, 83, 0.9)',
        'rgba(230, 126, 34, 0.9)',
        'rgba(142, 68, 173, 0.9)',
        'rgba(41, 128, 185, 0.9)',
        'rgba(192, 57, 43, 0.9)',
        'rgba(26, 188, 156, 0.9)',
        'rgba(112, 123, 124, 0.9)',
      ],
      borderColor: [
        'rgba(110, 44, 0, 1)',
        'rgba(250, 128, 114, 1)',
        'rgba(244, 208, 63, 1)',
        'rgba(24, 106, 59, 1)',
        'rgba(46, 64, 83, 1)',
        'rgba(230, 126, 34, 1)',
        'rgba(142, 68, 173, 1)',
        'rgba(41, 128, 185, 1)',
        'rgba(192, 57, 43, 1)',
        'rgba(26, 188, 156, 1)',
        'rgba(112, 123, 124, 1)',
      ],
      borderWidth: 1
    }]
  },
  options: {
   	//cutoutPercentage: 40,
    responsive: false,

  }
});
      </script>
      
    
{% endblock %}