{% extends 'base.html' %}
{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col">
                <h1 class="display-4 py-2 text-center">Asignar compañero animal</h1>
                {% if formulario.errors %}
                    {% for field in formulario %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="/personaje/companero_animal/asignar/{{personaje.pk}}/" method="POST" id="upload-image-form"> 
                        {% csrf_token %}
                        <h3 class="text-center mb-3 mt-3">Nombre</h3>
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-lg-3 d-flex justify-content-center">
                                {{formulario.nombre}}
                            </div>
                        </div>
                        <h3 class="text-center mb-3 mt-3">Dotes</h3>
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col d-flex justify-content-center">
                                {{formulario.dotes}}
                            </div>
                        </div>
                        <h3 class="text-center mb-3 mt-3">Trucos</h3>
                        <p class="text-center">Debes elegir {{companero_animal_nivel.numero_trucos}} trucos</p>
                        <div class="row mt-4 d-flex justify-content-center">
                            {% for field in formulario.trucos %}
                            <div class="col-lg-4 d-flex justify-content-center">
                                {{field}}
                            </div>
                            {% endfor %}
                        </div>    
                        <h3 class="text-center mb-3 mt-3">Habilidades</h3>
                        <p class="text-center">Debes elegir {{companero_animal_nivel.puntos_habilidad}} para subir un punto en ellas</p>
                        <p class="text-center">Las habilidades de clase para los compañeros animales son: Acrobacias, trepar, volar, percepción, sigilo y nadar</p>
                        <div class="row mt-4 d-flex justify-content-center">
                            {% for field in formulario.habilidades %}
                            <div class="col-lg-4 d-flex justify-content-center">
                                {{field}}
                            </div>
                            {% endfor %}
                        </div>
                        <h3 class="text-center mb-3 mt-3">Tipo de compañero animal</h3>
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col d-flex justify-content-center">
                                {{formulario.companero_animal_tipo}}
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-3">
                            <div class="col-sm-2 d-grid gap-2">
                              <input type="button" class="btn btn-dark" value="Atrás" onclick="history.back()">
                            </div>
                            <div class="col-sm-2 d-grid gap-2">
                                <button type='submit' class="btn btn-primary btn-dark">Asignar</button>
                              </div>
                          </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}