{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="text-center">
        <h1>{{raza.raza}}</h5>
    </div>
</div>
    <div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-lg-9 text-center">
            <h4>Descripción</h5>
        </div>
    </div>
    </div>
</div>
    <div class="container">
    {% for br in bonificaciones_raza %}
    <div class="row">
        <div class="col align-self-center">
            <p>{{br.nombre}}</p>
        </div>
        <div class="col-lg-7 align-self-center">
            <p class="align-text-middle">{{br.descripcion}}</p>
        </div>  
    </div>
    {% endfor %}
</div>
{% endblock %}