{% extends 'base.html' %}
{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col">
                <h1 class="display-4 py-2 text-center">Crear personaje</h1>
                {% if formulario_paso_3.errors %}
                    {% for field in formulario_paso_3 %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                  <ul class="nav nav-pills d-flex justify-content-center mx-auto">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-dotes-tab" data-bs-toggle="pill" data-bs-target="#pills-dotes" type="button" role="tab" aria-controls="pills-dotes" aria-selected="true">Dotes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-habilidades-tab" data-bs-toggle="pill" data-bs-target="#pills-habilidades" type="button" role="tab" aria-controls="pills-habilidades" aria-selected="false">Habilidades</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-idiomas-tab" data-bs-toggle="pill" data-bs-target="#pills-idiomas" type="button" role="tab" aria-controls="pills-idiomas" aria-selected="false">Idiomas</button>
                    </li>
                    {% if clase.clase == 'Hechicero' %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-linaje-tab" data-bs-toggle="pill" data-bs-target="#pills-linaje" type="button" role="tab" aria-controls="pills-linaje" aria-selected="false">Linaje</button>
                    </li>
                    {% endif %}
                    {% if clase.cantidad_conjuros_conocidos.all %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-conjuros-tab" data-bs-toggle="pill" data-bs-target="#pills-conjuros" type="button" role="tab" aria-controls="pills-conjuros" aria-selected="false">Conjuros</button>
                    </li>
                    {% endif %}
                  </ul>
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="/personaje/create/3/" method="POST" id="upload-image-form">
                    {% csrf_token %} 
                    <div class="tab-content" id="pills-tabContent">
                        <h3 class="text-center mb-2 mt-3">Nombre</h3>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                {{formulario_paso_3.nombre}}
                            </div>
                        </div>
                                <div class="tab-pane show in active" id="pills-dotes" role="tabpanel" aria-labelledby="pills-dotes-tab">
                                    <h3 class="text-center mb-3 mt-3">Dotes</h3>
                                    <p class="text-center">Debe elegir una dote a no ser que haya elegido como raza humano (una dote extra) o haya escogido guerrero o monje como clase (una dote extra ambas)</p>
                                    <div class="row mt-4">
                                        {% for field in formulario_paso_3.dotes %}
                                        <div class="col-lg-3">
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <a href="/dote/list" target="'_blank">Listado de dotes</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-habilidades" role="tabpanel" aria-labelledby="pills-habilidades-tab">
                                    <h3 class="text-center mb-3 mt-3">Habilidades</h3>
                                    <p class="text-center">Debes elegir {{numero_habilidades_eleccion}} para subir un punto en ellas</p>
                                    <div class="row mb-3">
                                        <div class="col d-flex justify-content-center">
                                            <p class="">Las habilidades de clase son: {{clase_nivel_0.descripcion_habilidades}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        {% for field in formulario_paso_3.habilidades %}
                                        <div class="col-lg-3">
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-idiomas" role="tabpanel" aria-labelledby="pills-idiomas-tab">
                                    <h3 class="text-center mb-3 mt-3">Idiomas</h3>
                                    <p class="text-center">Debes elegir {{numero_idiomas_eleccion}} idiomas extra por la inteligencia del personaje</p>
                                    <div class="row mt-4">
                                        {% for field in formulario_paso_3.idiomas %}
                                        <div class="col-lg-2">
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if clase.clase == 'Hechicero' %}
                                <div class="tab-pane fade" id="pills-linaje" role="tabpanel" aria-labelledby="pills-linaje-tab">
                                    <h3 class="text-center mb-3 mt-3">Linaje</h3>
                                    <div class="row mt-4">
                                        <div class="col d-flex justify-content-center">
                                            {{formulario_paso_3.linaje}}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col d-flex justify-content-center">
                                            <a href="/linaje/list" target="'_blank">Listado de linajes</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if clase.cantidad_conjuros_conocidos.all %}
                                <div class="tab-pane fade" id="pills-conjuros" role="tabpanel" aria-labelledby="pills-conjuros-tab">
                                    <h3 class="text-center mb-3 mt-3">Conjuros de nivel 0</h3>
                                    <p class="text-center">Debes elegir {{cantidad_conjuros_conocidos_0_eleccion}} conjuros de nivel 0</p>
                                    <div class="row mt-4">
                                        {% for field in formulario_paso_3.conjuros_conocidos_0 %}
                                        <div class="col-lg-3">
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <h3 class="text-center mb-3 mt-3">Conjuros de nivel 1</h3>
                                    <p class="text-center">Debes elegir {{cantidad_conjuros_conocidos_1_eleccion}} conjuros de nivel 1</p>
                                    <div class="row mt-4">
                                        {% for field in formulario_paso_3.conjuros_conocidos_1 %}
                                        <div class="col-lg-3">
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col d-flex justify-content-center">
                                            <a href="/conjuro/list/{{clase_nivel_0.pk}}" target="'_blank">Listado de conjuros</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                        <input type="hidden" id="raza" name="raza" value={{raza}}>
                        <input type="hidden" id="clase" name="clase" value={{clase}}>
                        <input type="hidden" id="clase_nivel_0" name="clase_nivel_0" value={{clase_nivel_0}}>
                        <input type="hidden" id="alineamiento" name="alineamiento" value={{alineamiento}}>
                        <input type="hidden" id="fuerza" name="fuerza" value={{fuerza}}>
                        <input type="hidden" id="destreza" name="destreza" value={{destreza}}>
                        <input type="hidden" id="constitucion" name="constitucion" value={{constitucion}}>
                        <input type="hidden" id="inteligencia" name="inteligencia" value={{inteligencia}}>
                        <input type="hidden" id="sabiduria" name="sabiduria" value={{sabiduria}}>
                        <input type="hidden" id="carisma" name="carisma" value={{carisma}}>
                        <input type="hidden" id="numero_habilidades_eleccion" name="numero_habilidades_eleccion" value={{numero_habilidades_eleccion}}>
                        <input type="hidden" id="numero_idiomas_eleccion" name="numero_idiomas_eleccion" value={{numero_idiomas_eleccion}}>
                        <input type="hidden" id="cantidad_conjuros_conocidos_0_eleccion" name="cantidad_conjuros_conocidos_0_eleccion" value={{cantidad_conjuros_conocidos_0_eleccion}}>
                        <input type="hidden" id="cantidad_conjuros_conocidos_1_eleccion" name="cantidad_conjuros_conocidos_1_eleccion" value={{cantidad_conjuros_conocidos_1_eleccion}}>
                        <div class="row d-flex justify-content-center mt-3">
                            <div class="col-sm-1 d-grid gap-2">
                              <input type="button" class="btn btn-dark" value="Atrás" onclick="history.back()">
                            </div>
                            <div class="col-sm-1 d-grid gap-2">
                                <button type='submit' class="btn btn-primary btn-dark">Siguiente</button>
                              </div>
                          </div>
                    </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}