{% extends 'base.html' %}
{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col">
                <h1 class="display-4 py-2 text-center">Subir de nivel</h1>
                {% if formulario.errors %}
                    {% for field in formulario %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <ul class="nav nav-pills d-flex justify-content-center mx-auto">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-habilidades-tab" data-bs-toggle="pill" data-bs-target="#pills-habilidades" type="button" role="tab" aria-controls="pills-habilidades" aria-selected="true">Habilidades</button>
                    </li>
                    {% if formulario.numero_eleccion_dotes > 0 %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-dotes-tab" data-bs-toggle="pill" data-bs-target="#pills-dotes" type="button" role="tab" aria-controls="pills-dotes" aria-selected="false">Dotes</button>
                    </li>
                    {% endif %}
                    {% if formulario.numero_poderes > 0 %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-poderes-tab" data-bs-toggle="pill" data-bs-target="#pills-poderes" type="button" role="tab" aria-controls="pills-poderes" aria-selected="false">Poderes</button>
                    </li>
                    {% endif %}
                    {% if formulario.cantidad_conjuros_conocidos_0_eleccion > 0 or formulario.cantidad_conjuros_conocidos_1_eleccion or formulario.cantidad_conjuros_conocidos_2_eleccion or formulario.cantidad_conjuros_conocidos_3_eleccion or formulario.cantidad_conjuros_conocidos_4_eleccion or formulario.cantidad_conjuros_conocidos_5_eleccion or formulario.cantidad_conjuros_conocidos_6_eleccion or formulario.cantidad_conjuros_conocidos_7_eleccion or formulario.cantidad_conjuros_conocidos_8_eleccion or formulario.cantidad_conjuros_conocidos_9_eleccion %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-conjuros-tab" data-bs-toggle="pill" data-bs-target="#pills-conjuros" type="button" role="tab" aria-controls="pills-conjuros" aria-selected="false">Conjuros</button>
                    </li>
                    {% endif %}
                    {% if companero_animal_personaje.all %}
                    <li class="nav-item dropdown" role="presentation">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="pills-companero_animal-tab" data-toggle="dropdown" aria-haspopup="false" aria-selected="false" aria-expanded="false">Compañero animal</a>
                        <ul class="dropdown-menu">
                          {% if formulario.numero_trucos > 0 %}
                          <li><button class="dropdown-item" id="pills-companero-animal-trucos-tab" data-bs-toggle="pill" data-bs-target="#pills-companero-animal-trucos" type="button" role="tab" aria-controls="pills-companero-animal-trucos" aria-selected="false">Trucos</button></li>
                          {% endif %}
                          {% if formulario.numero_dotes_companero_animal > 0 %}
                          <li><button class="dropdown-item" id="pills-companero-animal-dotes-tab" data-bs-toggle="pill" data-bs-target="#pills-companero-animal-dotes" type="button" role="tab" aria-controls="pills-companero-animal-dotes" aria-selected="false">Dotes</button></li>
                          {% endif %}
                          {% if formulario.numero_habilidades_companero_animal > 0 %}
                          <li><button class="dropdown-item" id="pills-companero-animal-habilidades-tab" data-bs-toggle="pill" data-bs-target="#pills-companero-animal-habilidades" type="button" role="tab" aria-controls="pills-companero-animal-habilidades" aria-selected="false">Habilidades</button></li>
                          {% endif %}
                        </ul>
                      </li>
                    {% endif %}
                </ul>
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="/personaje/subir_nivel/{{pk}}/" method="POST" id="upload-image-form"> 
                        {% csrf_token %}
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col">
                                <p class="text-center">Marque la casilla si quiere que los puntos de golpe por subir sean aleatorios</p>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        {{formulario.eleccion_puntos_de_golpe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane show in active" id="pills-habilidades" role="tabpanel" aria-labelledby="pills-habilidades-tab">
                                {% if caracteristica_personaje_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Característica</h3>
                                <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    <div class="col d-flex justify-content-center">
                                        {{formulario.eleccion_caracteristica_personaje}}
                                    </div>
                                </div>                
                                {% endif %}
                                <h3 class="text-center mb-3 mt-3">Habilidades</h3>
                                <p class="text-center">Debes elegir {{formulario.numero_eleccion_habilidades}} habilidades para subir un punto en ellas</p>
                                <p class="text-center">Las habilidades de clase son: {{clase_nivel_0.descripcion_habilidades}}</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.habilidades_personaje %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-dotes" role="tabpanel" aria-labelledby="pills-dotes-tab">
                                {% if caracteristica_personaje_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Característica</h3>
                                <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    <div class="col d-flex justify-content-center">
                                        {{formulario.eleccion_caracteristica_personaje}}
                                    </div>
                                </div>                
                                {% endif %}
                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-center">
                                        <a href="/dote/list/" target="'_blank">Listado de dotes</a>
                                    </div>
                                </div>
                                {% if formulario.numero_eleccion_dotes > 0 %}
                                    <h3 class="text-center mb-3 mt-3">Dotes</h3>
                                    <p class="text-center">Debes elegir {{formulario.numero_eleccion_dotes}} dote</p>
                                    <div class="row mt-4 d-flex justify-content-center">
                                        {% for field in formulario.dotes_personaje %}
                                        <div class="col-lg-3">
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="pills-poderes" role="tabpanel" aria-labelledby="pills-poderes-tab">
                                {% if caracteristica_personaje_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Característica</h3>
                                <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    <div class="col d-flex justify-content-center">
                                        {{formulario.eleccion_caracteristica_personaje}}
                                    </div>
                                </div>                
                                {% endif %}
                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-center">
                                        <a href="/poder/list/{{clase_nivel_0.pk}}" target="'_blank">Listado de poderes</a>
                                    </div>
                                </div>
                                {% if formulario.numero_poderes > 0 %}
                                <h3 class="text-center mb-3 mt-3">Poderes</h3>
                                <p class="text-center">Debes elegir {{formulario.numero_poderes}} poder</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    <div class="col mb-3 d-flex justify-content-center">
                                        {{formulario.poderes}}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="pills-conjuros" role="tabpanel" aria-labelledby="pills-conjuros-tab">
                                {% if caracteristica_personaje_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Característica</h3>
                                <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    <div class="col d-flex justify-content-center">
                                        {{formulario.eleccion_caracteristica_personaje}}
                                    </div>
                                </div>                
                                {% endif %}
                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-center">
                                        <a href="/conjuro/list/{{clase_nivel_0.pk}}" target="'_blank">Listado de conjuros</a>
                                    </div>
                                </div>
                                {% if formulario.cantidad_conjuros_conocidos_0_eleccion > 0 %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 0</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_0_eleccion}} conjuros de nivel 0</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_0 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_1_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 1</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_1_eleccion}} conjuros de nivel 1</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_1 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_2_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 2</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_2_eleccion}} conjuros de nivel 2</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_2 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_3_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 3</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_3_eleccion}} conjuros de nivel 3</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_3 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_4_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 4</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_4_eleccion}} conjuros de nivel 4</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_4 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_5_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 5</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_5_eleccion}} conjuros de nivel 5</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_5 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_6_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 6</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_6_eleccion}} conjuros de nivel 6</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_6 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_7_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 7</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_7_eleccion}} conjuros de nivel 7</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_7 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_8_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 8</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_8_eleccion}} conjuros de nivel 8</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_8 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if formulario.cantidad_conjuros_conocidos_9_eleccion %}
                                <h3 class="text-center mb-3 mt-3">Conjuros de nivel 9</h3>
                                <p class="text-center">Debes elegir {{formulario.cantidad_conjuros_conocidos_9_eleccion}} conjuros de nivel 9</p>
                                <div class="row mt-4 d-flex justify-content-center">
                                    {% for field in formulario.conjuros_conocidos_9 %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        <div class="tab-pane fade" id="pills-companero-animal-trucos" role="tabpanel" aria-labelledby="pills-companero-animal-trucos-tab">
                            {% if caracteristica_companero_animal_eleccion %}
                            <h3 class="text-center mb-3 mt-3">Característica</h3>
                            <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col d-flex justify-content-center">
                                    {{formulario.eleccion_caracteristica_companero_animal}}
                                </div>
                            </div>
                            {% endif %}
                            <h3 class="text-center mb-3 mt-3">Trucos</h3>
                            <p class="text-center">Debes elegir {{formulario.numero_trucos}} truco</p>
                            <div class="row mt-4 d-flex justify-content-center">
                                {% for field in formulario.trucos %}
                                <div class="col-lg-4 d-flex justify-content-center">
                                    {{field}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-companero-animal-dotes" role="tabpanel" aria-labelledby="pills-companero-animal-dotes-tab">
                            {% if caracteristica_companero_animal_eleccion %}
                            <h3 class="text-center mb-3 mt-3">Característica</h3>
                            <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col d-flex justify-content-center">
                                    {{formulario.eleccion_caracteristica_companero_animal}}
                                </div>
                            </div>
                            {% endif %}
                            <h3 class="text-center mb-3 mt-3">Dotes</h3>
                            <p class="text-center">Debes elegir {{formulario.numero_dotes_companero_animal}} dotes</p>
                            <div class="row mt-4 d-flex justify-content-center">
                                {% for field in formulario.dotes_companero_animal %}
                                    <div class="col-lg-3">
                                        {{field}}
                                    </div>
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-companero-animal-habilidades" role="tabpanel" aria-labelledby="pills-companero-animal-habilidades-tab">
                            {% if caracteristica_companero_animal_eleccion %}
                            <h3 class="text-center mb-3 mt-3">Característica</h3>
                            <p class="text-center">Debes elegir una característica que aumentará en uno</p>
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col d-flex justify-content-center">
                                    {{formulario.eleccion_caracteristica_companero_animal}}
                                </div>
                            </div>
                            {% endif %}
                            <h3 class="text-center mb-3 mt-3">Habilidades</h3>
                            <p class="text-center">Debes elegir {{formulario.numero_habilidades_companero_animal}} habilidades para subir un punto en ellas</p>
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col d-flex justify-content-center">
                                    {{formulario.habilidades_companero_animal}}
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="pk" name="pk" value={{pk}}>
                        <input type="hidden" id="clase_nivel_0" name="clase_nivel_0" value={{clase_nivel_0}}>
                        <input type="hidden" id="caracteristica_personaje_eleccion" name="caracteristica_personaje_eleccion" value={{caracteristica_personaje_eleccion}}>
                        <input type="hidden" id="caracteristica_companero_animal_eleccion" name="caracteristica_companero_animal_eleccion" value={{caracteristica_companero_animal_eleccion}}>
                        <input type="hidden" id="companero_animal_personaje" name="companero_animal_personaje" value={{companero_animal_personaje}}>
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-2 d-grid gap-2">
                              <input type="button" class="btn btn-dark" value="Atrás" onclick="history.back()">
                            </div>
                            <div class="col-sm-2 d-grid gap-2">
                                <button type='submit' class="btn btn-primary btn-dark">Subir</button>
                              </div>
                          </div>
                    </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}