{% extends 'base.html' %}
{% block content %}
<div class="bottom-footer">
    <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
                <h1 class="display-4 py-2 text-center">Editar usuario</h1>
                {% if form_editar_username.errors %}
                    {% for field in form_editar_username %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% if form_editar_contrasena.errors %}
                    {% for field in form_editar_contrasena %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% if form_editar_perfil.errors %}
                    {% for field in form_editar_perfil %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="px-2">
                    <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form"> 
                        {% csrf_token %}
                        {% if form_editar_username %}
                        <div class="text-center">Nombre de Usuario</div>
                            {{form_editar_username.username}}
                            <br>
                        {% endif %}
                        {% if form_editar_contrasena %}
                        <div class="text-center">Contraseña</div>
                            {{form_editar_contrasena.password1}}
                            <br>
                        <div class="text-center">Confirmar Contraseña</div>
                            {{form_editar_contrasena.password2}}
                            <br>
                        {% endif %}
                        {% if form_editar_perfil %}
                        <div class="text-center">Nickname</div>
                            {{form_editar_perfil.nickname}}
                        <br>
                        {% endif %}
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-2 d-grid gap-2">
                              <input type="button" class="btn btn-dark" value="Atrás" onclick="history.back()">
                            </div>
                            <div class="col-sm-2 d-grid gap-2">
                                <button type='submit' class="btn btn-primary btn-dark">Aceptar</button>
                              </div>
                          </div>
                        </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}