{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col">
        {% for raza in razas %}
        <div class="row mt-3">
            <div class="col-sm-1 d-flex justify-content-center align-items-center">
                <img class="index-icons align-middle" src="{{raza.imagen.url}}" height="65" width="65">
            </div>
            <div class="col">
                <h6><a class="d-inline" href="/raza/show/{{raza.pk}}">{{raza.raza}}: </a></h6>
                <p class="d-inline">{{raza.descripcion}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if razas %}
  <div class="container mt-3">
    <ul class="pagination d-flex justify-content-center">
      {% if razas.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{razas.previous_page_number}}">Anterior</a></li>
      {%else %}
      <li class="page-item disabled">
        <span class="page-link">Anterior</span>
      </li>
      {% endif %}
      {% for num in razas.paginator.page_range %}
      {% ifequal num razas.number %}
      <li class="page-item active">
        <span class="page-link">
          {{ num }}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endifequal %}
      {% endfor %}
      {% if razas.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{razas.next_page_number }}">Siguiente</a>
      </li>
      {%else%}
      <li class="page-item disabled">
        <span class="page-link">Siguiente</span>
      </li>
      {% endif %}

    </ul>
  </div>
  {%endif%}
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-1 d-grid gap-2">
        <input type="button" class="btn btn-dark" value="Atrás" onclick="history.back()">
      </div>
    </div>
</div>
{% endblock %}