{% block content %}
<div class="bottom-footer">

    <body>
        <div class="site-content">
            <h1 class="text-center">Términos de condiciones y uso</h1> <br>
            <div class="container">
                <p>Para el buen funcionamiento de nuestra web y la comunidad de usuarios, necesitamos que tenga en
                    cuenta
                    las
                    reglas y términos de condiciones propuestas</p>
                <p>
                    <strong>Términos de uso</strong>
                </p>
                <p> Los presentes Términos de uso (en adelante, “los Términos de Uso”) establecen las condiciones bajo
                    las
                    cuales se ofrece a los usuarios el acceso al sistema web, que es una plataforma que permite poner
                    contacto a usuarios que quieren
                    vender sus impresiones 3D con compradores. También pueden solicitar un presupuesto.
                </p>
                <p>
                    El uso del Servicio atribuye a quien lo realiza la condición de usuario del mismo (en adelante, “el
                    Usuario”) e implica la aceptación íntegra de estos Términos de Uso. En caso de no estar de acuerdo
                    con
                    todo o parte de estos Términos de Uso, el Usuario debe abstenerse utilizar el Servicio.
                </p>
                <p>
                    Por medio de la aceptación de los presentes Términos de Uso, el Usuario manifiesta:
                </p>
                <p>
                    Que ha leído, entiende y comprende lo aquí expuesto.
                </p>

                <p>
                    Que asume todas las obligaciones aquí dispuestas.
                </p>

                <p>
                    Que tiene la capacidad legal suficiente para utilizar el Servicio.
                </p>

                <p>
                    Estos Términos de Uso serán aplicables a los Usuarios a partir de 1 de Abril 2020. Su aceptación por
                    parte de los Usuarios
                    será un paso previo e indispensable a la utilización del Servicio. El titular del Servicio se
                    reserva la
                    facultad de realizar en cualquier momento cualquier modificación o actualización de los Términos de
                    Uso.
                </p>
                <p>
                    <strong>1. Titular del servicio</strong>
                </p>
                <p>
                    El titular y propietario del Servicio es el grupo de estudiantes de la Universidad de Sevilla que
                    realiza este proyecto para la asignatura ISPP del grado de Ingeniería de Software de la Universidad
                    de
                    Sevilla (en adelante, “TreeD”).
                </p>
                <p>
                    <strong>2. Necesidad de registro</strong>
                </p>
                <p>
                    Para poder utilizar el Servicio es necesario el previo registro del Usuario y la aceptación de los
                    presentes Términos de uso.
                </p>
                <p>
                    Los datos introducidos por el Usuario deberán ser exactos, actuales y veraces. El Usuario registrado
                    será responsable en todo momento de la custodia de su contraseña, asumiendo en consecuencia
                    cualesquiera daños y perjuicios que pudieran derivarse de su uso indebido, así como de la cesión,
                    revelación o extravío de la misma, debiendo informar inmediatamente a TreeD en caso de que tenga
                    motivos para creer que su contraseña ha sido utilizada de manera no autorizada o es susceptible de
                    serlo. En cualquier caso, el acceso a áreas restringidas y/o el uso del Servicio realizado bajo la
                    contraseña de un Usuario registrado se reputarán realizados por dicho Usuario, quien responderá en
                    todo caso de dicho acceso y uso.
                </p>
                <p>
                    <strong>3. Normas de utilización del servicio</strong>
                </p>
                <p>
                    El Usuario se obliga a utilizar el Servicio conforme a lo establecido en la ley, la moral, el orden
                    público y los presentes Términos de Uso. Asimismo, se obliga hacer un uso adecuado del Servicio y a
                    no emplearlo para realizar actividades ilícitas o constitutivas de delito, que atenten contra los
                    derechos de terceros o que infrinjan cualquier norma del ordenamiento jurídico.
                </p>
                <p>
                    El Usuario se obliga a no transmitir, introducir, difundir y poner a disposición de terceros,
                    cualquier tipo de material e información (productos, objetos, datos, contenidos, mensajes, dibujos,
                    archivos de sonido e imagen, fotografías, software, etc.) que sean contrarios a la ley, la moral, el
                    orden público y los presentes Términos de Uso. A título enunciativo y en ningún caso limitativo o
                    excluyente, el Usuario se compromete a:
                </p>
                <p>
                    I. No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de
                    apología del terrorismo o que atenten contra los derechos humanos.
                </p>
                <p>
                    II. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información,
                    elemento o contenido que atente contra los derechos fundamentales y las libertades públicas
                    reconocidos constitucionalmente y en los tratados internacionales.
                </p>
                <p>
                    III. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información,
                    elemento o contenido que constituya publicidad ilícita o desleal.
                </p>
                <p>
                    IV. No transmitir publicidad no solicitada o autorizada, material publicitario, “correo basura”,
                    “cartas en cadena”, “estructuras piramidales”, o cualquier otra forma de solicitación, excepto en
                    aquellas áreas (tales como espacios comerciales) que hayan sido exclusivamente concebidas para ello.
                </p>
                <p>
                    V. No introducir o difundir cualquier información y contenidos falsos, engañosos, ambiguos o
                    inexactos de forma que induzca o pueda inducir a error a los receptores de la información.
                </p>
                <p>
                    VI. No suplantar a otros Usuarios del Servicio ni transmitir los datos de acceso a la cuenta ni la
                    contraseña a un tercero sin el consentimiento de TreeD.
                </p>
                <p>
                    VII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información,
                    elemento o contenido sin autorización de los titulares de los derechos de propiedad intelectual e
                    industrial que puedan recaer sobre tal información, elemento o contenido.
                </p>
                <p>
                    VIII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información,
                    elemento o contenido que suponga una violación del secreto de las comunicaciones y la legislación de
                    datos de carácter personal.
                </p>
                <p>
                    IX. No difundir, transmitir o poner a disposición de terceros fotografías ni cualquier
                    representación o imagen de personas menores de edad.
                </p>
                <p>
                    El Usuario se obliga a mantener indemne a TreeD ante cualquier posible reclamación, multa, pena o
                    sanción que pueda venir obligada a soportar como consecuencia del incumplimiento por parte del
                    Usuario de cualquiera de las normas de utilización antes indicadas, reservándose, además TreeD el
                    derecho a solicitar la indemnización por daños y perjuicios que corresponda.
                </p>
                <p>
                    <strong>4. Exclusión de usuarios</strong>
                </p>
                <p>
                    TreeD se reserva el derecho a impedir el uso del Servicio, ya sea de forma temporal o definitiva,
                    a cualquier Usuario que infrinja cualquiera de las normas establecidas en estos Términos de Uso, la
                    ley o la moral. Discrecionalmente, TreeD también podrá excluir Usuarios e incluso dejar de
                    prestar total o parcialmente el Servicio cuando así lo considere oportuno para mejorar la operativa
                    del Servicio y/o del resto de los usuarios del mismo.
                </p>
                <p>
                    <strong>5. Exclusión de responsabilidad</strong>
                </p>
                <p>
                    TreeD no es propietaria de ninguno de los artículos en venta o vendidos a través de su plataforma
                    ni revisa o valida los productos que los Usuarios ofrecen a través del Servicio, por lo
                    que TreeD no será responsable, ni directa ni indirectamente, ni subsidiariamente, de los daños y
                    perjuicios de cualquier naturaleza derivados de la utilización y contratación de los contenidos y de
                    las actividades de los Usuarios y/o de terceros a través del Servicio así como de la falta de
                    licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos.
                </p>
                <p>
                    Con carácter enunciativo, y en ningún caso limitativo, TreeD no será responsable por los daños y
                    perjuicios de cualquier naturaleza derivados de:
                </p>
                <p>
                    a) La utilización que los Usuarios hagan del Servicio ni por el estado, origen, posible inexactitud,
                    o posible falsedad de los datos proporcionados por los Usuarios ni de los productos ofrecidos a
                    través del Servicio.
                </p>
                <p>
                    b) Los contenidos, informaciones, opiniones y manifestaciones de cualquier Usuario o de terceras
                    personas o entidades que se comuniquen o exhiban a través del Servicio.
                </p>
                <p>
                    c) La utilización que los Usuarios puedan hacer de los materiales del Servicio, ya sean prohibidos o
                    permitidos, en infracción de los derechos de propiedad intelectual y/o industrial, información
                    confidencial, de contenidos del Servicio o de terceros.
                </p>
                <p>
                    d) La realización de actos de competencia desleal y publicidad ilícita.
                </p>
                <p>
                    e) La eventual pérdida de datos de los Usuarios por causa no atribuible al Servicio,
                </p>
                <p>
                    f) El acceso de menores de edad a los contenidos incluidos en el Servicio.
                </p>
                <p>
                    g) La indisponibilidad, errores, fallos de acceso y falta de continuidad del Servicio.
                </p>
                <p>
                    h) Los fallos o incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones
                    incompletas.
                </p>
                <p>
                    i) La no operatividad o problemas en la dirección de email facilitada por el Usuario.
                </p>
                <p>
                    TreeD responderá única y exclusivamente frente al Usuario de los Servicios que preste por sí
                    misma y de los contenidos directamente originados e identificados con su copyright, quedando
                    limitada, como máximo, al importe de las cantidades percibidas directamente del Usuario por
                    TreeD, con exclusión en todo caso de responsabilidad por daños indirectos o por lucro cesante.
                </p>
                <p>
                    Cualquier reclamación o controversia que pueda surgir entre los Usuarios del Servicio deberá ser
                    solventada entre éstos, obligándose a mantener a TreeD totalmente indemne, sin perjuicio de lo
                    cual TreeD realizará sus mejores esfuerzos para facilitar a los Usuarios una pronta y
                    satisfactoria solución.
                </p>
                <p>
                    <strong>6. Propiedad intelectual e industrial</strong>
                </p>
                <p>
                    Los derechos de propiedad industrial e intelectual sobre las obras, prestaciones protegidas y
                    cualesquiera contenidos o elementos sobre los que recaigan derechos de propiedad intelectual e
                    industrial que se usen en el Servicio pertenecen a sus legítimos
                    titulares. El Usuario no adquirirá por el uso del Servicio ningún derecho de propiedad intelectual o
                    industrial, ni licencia de uso alguna sobre tales elementos.
                </p>
                <p>
                    Son Contenidos del Servicio, los textos, fotografías, gráficos, imágenes, iconos, tecnología,
                    software, bases de datos, y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y
                    códigos fuente utilizados en el Servicio. Esta enumeración se realiza a título enunciativo y
                    ejemplificativo, no limitativo.
                </p>
                <p>
                    El texto, las imágenes, los gráficos, los ficheros de sonido, los ficheros de animación, los
                    ficheros de vídeo, el software y la apariencia del sitio web de TreeD son objeto de protección
                    por derechos de propiedad intelectual e industrial. Esos elementos no podrán ser válida y
                    legítimamente copiados o distribuidos para uso comercial, ni podrán ser modificados o insertados en
                    otros sitios web sin previa autorización expresa de sus titulares.
                </p>
                <p>
                    El Usuario manifiesta ser titular en exclusiva de todos los derechos que recaen sobre las obras,
                    prestaciones
                    protegidas y cualesquiera otros elementos protegidos por propiedad intelectual o industrial que
                    incorpore en el
                    Servicio (en adelante, los “Contenidos”).
                </p>
                <p>
                    El Usuario cede gratuitamente y en exclusiva a TreeD los derechos de comunicación pública,
                    reproducción,
                    distribución y transformación que tiene sobre los Contenidos, en todas las modalidades de
                    explotación existentes en
                    la fecha aceptación de estos Términos de Uso, por todo el tiempo de vigencia de los derechos objeto
                    de cesión, para
                    el ámbito territorial universal.
                </p>
                <p>
                    TreeD no representa ni tiene vinculación empresarial alguna con las marcas que los Usuarios puedan anunciar en el
                    Servicio.
                </p>
                <p>
                    <strong>7. Publicación de anuncios</strong>
                </p>
                <p>
                    El Usuario que desee poner a la venta un producto deberá tener en cuenta que mediante la publicación de su anuncio
                    está emitiendo una oferta de venta, que será vinculante desde que ésta fuese aceptada por otro Usuario.
                </p>
                <p>
                    En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración lo siguiente:
                </p>
                <p>
                    – No está permitido publicar anuncios con imágenes de contenido sexual.
                </p>
                <p>
                    – No está permitido publicar anuncios relacionados con el sexo, el erotismo o el fetichismo.
                </p>
                <p>
                    – No está permitido publicar imágenes o descripciones que no se correspondan con el artículo realmente ofrecido.
                </p>
                <p>
                    – No está permitido publicar imágenes de menores de edad.
                </p>
                <p>
                    Por su parte, el Usuario interesado en adquirir un producto debe tener en cuenta que cuando se compromete a comprar
                    un artículo, por un precio establecido, está suscribiendo un contrato de compraventa legalmente vinculante con otro
                    Usuario.
                </p>
                <p>
                    En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración las reglas de convivencia.
                </p>
                <p>
                    <strong>8. Sistema de afiliados</strong>
                </p>
                <p>
                    Los usuarios podrán incrementar la visibilidad de sus publicaciones en TreeD, a través de la contratación de servicios
                    de preferencias publicitarias («sistema de afiliados»).
                </p>
                <p>
                    El sistema de afiliados es un servicio opcional que puede disfrutar los Usuarios para mejorar el
                    posicionamiento de los artículos anunciados y destacar sus perfiles.
                </p>
                <p>
                    Las publicaciones destacadas tienen un formato distinto que las publicaciones no destacadas: aparecen
                    distinguidas con un icono diferencial y un color diferente. Los perfiles de los usuarios afiliados tendrán una distinción
                    que los diferencia del Usuario común.
                </p>
                <p>
                    La suscripción al sistema de afiliados tienen una renovación automática hasta su
                    cancelación por un período adicional de un mes.
                </p>
                <p>
                    La suscripción se puede cancelar en cualquier momento implicando ello la perdida inmediata de los privilegios que supone esta.
                </p>
                <p>
                    Eliminar su cuenta de TreeD no confirma la cancelación de la suscripción, por tanto no exime de seguir pagando por la suscripción.
                </p>
                <p>
                    En caso de que un perfil sea desactivado por TreeD por un incumplimiento de las reglas de convivencia o de las
                    condiciones de uso establecidos,
                    será responsabilidad del Usuario cancelar su suscripción.
                </p>
                <p>
                    El sistema de afiliados tendrá un precio de 10€ y dicho pago será realizado vía Paypal.
                </p>

                <p>
                    <strong>9. Envíos</strong>
                </p>
                <p>
                    TreeD solo se encarga de poner en contacto compradores con vendedores, quedando excluido el sistema de envío. El precio del
                    envío deberá estar contemplado dentro del precio de compra del producto anunciado.
                </p>
                <p>
                    <strong>10. Mediaciones</strong>
                </p>
                <p>
                    TreeD es una aplicación que actúa como mero intermediario entre el vendedor y el comprador. TreeD no es
                    propietaria de ninguno de los artículos en venta o vendidos a través de su plataforma y no es parte en la
                    compraventa llevada a cabo exclusivamente entre compradores y vendedores. TreeD no revisa ni valida los productos
                    que los usuarios ofrecen a través del servicio, por lo que TreeD no será en ningún caso responsable, ni directa
                    ni indirectamente, ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de las
                    actividades de los usuarios y/o de terceros a través del
                    servicio, así como tampoco será responsable de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud,
                    exhaustividad y actualidad de los mismos.
                </p>
                <p>
                    Con carácter general, los productos adquiridos a través de TreeD no pueden ser devueltos, salvo
                    en aquellos casos en los que así sea pactado entre vendedor y comprador.
                </p>
                <p>
                    TreeD sólo rembolsará el precio siempre que la mediación haya sido evaluada por el único canal que ofrece TreeD: 
                    treedispp@gmail.com.
                </p>
                <p>
                    De manera general, cualquier problema, error o incidencia relacionado con la compra de un producto o la solicitud de un presupuestos a 
                    través de TreeD será evaluada por el único canal ofrecido: treedispp@gmail.com
                </p>
                <p>
                    <strong>11. Facturación y pagos</strong>
                </p>
                <p>
                    - El método de pago para cualquier gestión requerida dentro de la web será vía PayPal.
                </p>
                <p>
                    - A cualquiera transacción en la web que requiera pago se aplicará una comisión de un 10% con respecto al precio original.
                </p>
                <p>
                    - Análogamente a cada compra se le sumará un 1€ de gestión.
                </p>
                <p>
                    - Para llevar a cabo el cobro será necesario remitir anteriormente las pruebas de envío del pedido para que el cobro sea efectivo.
                </p>
                <p>
                    <strong>12. Nulidad e ineficiencia de las cláusulas</strong>
                </p>
                <p>
                    Si cualquier cláusula incluida en los presentes Términos de Uso fuese declarada total o parcialmente, nula o
                    ineficaz, tal nulidad o ineficacia tan sólo afectará a dicha disposición o a la parte de la misma que resulte nula o
                    ineficaz, subsistiendo los presentes Términos de Uso en todo lo demás, considerándose tal disposición total o
                    parcialmente por no incluida.
                </p>
                <p>
                    <strong>13. Legislación aplicable y jurisdicción competente</strong>
                </p>
                <p>
                    Estos Términos de Uso se regirán e interpretarán conforme a la legislación española. En caso de litigio entre
                    TreeD y el Usuario, éste podrá interponer su acción ante los tribunales españoles correspondientes.
                </p>
                <h1 class="text-center">Política de privacidad</h1> <br>
                <p>
                    <strong>¿Quién es el responsable del tratamiento de sus datos?</strong>
                </p>
                <p>
                    El grupo de estudiantes que desarrolla TreeD para la asignatura ISSP del grado de Ingeniería de Software de la
                    Universidad de Sevilla (en adelante, «TreeD») y correo electrónico: treedispp@gmail.com, será responsable de sus
                    datos (en adelante, los «Datos»).
                </p>
                <p>
                    <strong>¿A quién es aplicable esta Política?</strong>
                </p>
                <p>
                    La utilización de la página web de TreeD está dirigida a cualquier usuario que tenga la capacidad legal suficiente
                    para utilizar el Servicio. En este sentido, TreeD recomienda la utilización de su página web a
                    personas mayores de 18 años. Para ello, TreeD se reserva el derecho a comprobar en cualquier momento la edad de
                    los usuarios.
                </p>
                <p>
                    <strong>¿Qué datos son recabados? </strong>
                </p>
                <p>
                    Nuestro sitio web recoge información personal: nombre, apellidos, su dirección
                    de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información
                    específica para procesar algún incidencia o mediación.
                </p>
                <p>
                    <strong> ¿Con qué finalidades y con qué base tratamos sus datos?</strong>
                </p>
                <p>
                    Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible. Concretamente se utilizan los datos para:
                </p>
                <p>
                    - Nombre de usuario y contraseña: son requeridos para tener una identidad que te distinga del resto de usuarios y
                    poder acceder a los servicios ofrecidos.
                </p>
                <p>
                    - Descripción e imagen de perfil: consideramos que ambos enriquecen la experiencia de usuario en la web.
                </p>
                <p>
                    - Nombre, apellidos, ciudad, localidad, calle, portal y número y código postal: estos datos de personales son
                    necesarios para poder gestionar el envío en el sistema de compras.
                </p>
                <p>
                    - Email: consideramos necesario tener una vía de contacto con cualquier usuario del sistema.
                </p>
                <p>
                    - Email de PayPal (Opcional): se requiere para obtener el pago de las ventas que se realizan en la web.
                </p>
                <p>
                    TreeD está altamente comprometido para cumplir con el compromiso de mantener su información segura, utilizado el
                    protocolo seguro de transferencia de hipertexto (HTTPS).
                </p>
                <p>
                    <strong>¿Cómo garantizamos la seguridad de los datos?</strong>
                </p>
                <p>
                    Para proteger tus datos personales, TreeD toma todas las precauciones razonables y sigue las mejores prácticas
                    de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los
                    mismos.
                </p>
                <p>
                    La seguridad de tus datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello.
                </p>
                <p>
                    En caso de ocurrir una brecha de seguridad o cualquier otra incidencia, será notificada en todo momento vía email.
                </p>
                <p>
                    <strong> ¿Cuáles son sus derechos en materia de protección datos de carácter personal?</strong>
                </p>
                <p>
                    Usted podrá ejercer sus derechos de acceso, rectificación, supresión, oposición, limitación al tratamiento y
                    portabilidad de sus Datos, así como la revocación, en cualquier momento, de los consentimientos, en su caso,
                    prestados ante TreeD a través del correo electrónico: treedispp@gmail.com .
                </p>
            </div>
        </div>
    </body>

</div>
{% endblock %}