{% extends 'base.html' %}
{% block content %}
<div class="bottom-footer">

    <body>
        <div class="site-content">
            <div class="container">
            <h1>Política de privacidad de SheatCreator</h1>

            <p>Una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de privacidad contiene tipos de información que SheatCreator recopila y registra y cómo la usamos.</p>

            <h2>Reglamento General de Protección de Datos (RGPD)</h2>
            <p>Somos un controlador de datos de su información.</p>

            <p>La base legal de SheatCreator para recopilar y usar la información personal descrita en esta Política de privacidad depende de la Información personal que recopilamos y el contexto específico en el que recopilamos la información:</p>
            <ul>
                <li>SheatCreator necesita realizar un contrato contigo</li>
                <li>Ha dado permiso a SheatCreator para hacerlo</li>
                <li>El procesamiento de su información personal está en los intereses legítimos de SheatCreator</li>
                <li>SheatCreator debe cumplir con la ley</li>
            </ul>
            
            <p>SheatCreator conservará su información personal solo durante el tiempo que sea necesario para los fines establecidos en esta Política de privacidad. Retendremos y utilizaremos su información en la medida necesaria para cumplir con nuestras obligaciones legales, resolver disputas y hacer cumplir nuestras políticas.</p>

            <p>Si es residente del Espacio Económico Europeo (EEE), tiene ciertos derechos de protección de datos. Si desea que se le informe qué información personal tenemos sobre usted y si desea que se elimine de nuestros sistemas, comuníquese con nosotros.</p>
            <p>En determinadas circunstancias, usted tiene los siguientes derechos de protección de datos:</p>
            <ul>
                <li>Derecho a acceder, actualizar o eliminar la información que tenemos sobre usted.</li>
                <li>El derecho de rectificación.</li> 
                <li>El derecho a objetar.</li>
                <li>El derecho de restricción.</li>
                <li>El derecho a la portabilidad de los datos</li>
                <li>El derecho a retirar el consentimiento</li>
            </ul>

            <h2>Archivos de registro</h2>

            <p>SheatCreator sigue un procedimiento estándar de uso de archivos de registro. Estos archivos registran a los visitantes cuando visitan sitios web. Todas las empresas de alojamiento hacen esto y forman parte del análisis de los servicios de alojamiento. La información recopilada por los archivos de registro incluye direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios de Internet (ISP), marca de fecha y hora, páginas de referencia/salida y posiblemente la cantidad de clics. Estos no están vinculados a ninguna información que sea personalmente identificable. El propósito de la información es analizar tendencias, administrar el sitio, rastrear el movimiento de los usuarios en el sitio web y recopilar información demográfica.</p>




            <h2>Políticas de privacidad</h2>

            <P>Puede consultar esta lista para encontrar la Política de privacidad de cada uno de los socios publicitarios de SheatCreator.</p>

            <p>Los servidores de anuncios o redes publicitarias de terceros utilizan tecnologías como cookies, JavaScript o balizas web que se utilizan en sus respectivos anuncios y enlaces que aparecen en SheatCreator, que se envían directamente al navegador de los usuarios. Reciben automáticamente su dirección IP cuando esto ocurre. Estas tecnologías se utilizan para medir la efectividad de sus campañas publicitarias y/o para personalizar el contenido publicitario que ve en los sitios web que visita.</p>

            <p>Tenga en cuenta que SheatCreator no tiene acceso ni control sobre estas cookies que utilizan los anunciantes de terceros.</p>

            <h2>Políticas de privacidad de terceros</h2>

            <p>La Política de privacidad de SheatCreator no se aplica a otros anunciantes o sitios web. Por lo tanto, le recomendamos que consulte las Políticas de privacidad respectivas de estos servidores de anuncios de terceros para obtener información más detallada. Puede incluir sus prácticas e instrucciones sobre cómo excluirse de ciertas opciones.</p>

            <p>Puede optar por deshabilitar las cookies a través de las opciones de su navegador individual. Para conocer información más detallada sobre la gestión de cookies con navegadores web específicos, se puede encontrar en los sitios web respectivos de los navegadores.</p>

            <h2>Información para niños</h2>

            <p>Otra parte de nuestra prioridad es agregar protección para los niños mientras usan Internet. Alentamos a los padres y tutores a observar, participar y/o monitorear y guiar su actividad en línea.</p>

            <p>SheatCreator no recopila a sabiendas ninguna Información de identificación personal de niños menores de 13 años. Si cree que su hijo proporcionó este tipo de información en nuestro sitio web, le recomendamos encarecidamente que se comunique con nosotros de inmediato y haremos todo lo posible para eliminarla de inmediato. dicha información de nuestros registros.</p>

            <h2>Política de privacidad en línea solamente</h2>

            <p>Nuestra Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web con respecto a la información que compartieron y/o recopilaron en SheatCreator. Esta política no se aplica a ninguna información recopilada fuera de línea o a través de canales que no sean este sitio web.</p>

            <h2>Consentimiento</h2>

            <p>Al utilizar nuestro sitio web, usted acepta nuestra Política de privacidad y acepta sus términos.</p>
        </div>
    </div>
    </body>

</div>
{% endblock %}