{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-5">¡Bienvenidos a SheatCreator!</h1>
    <h5 class="text-cetner mt-5 mb-5">Aquí podrás ver fichas de personajes del famoso juego de rol de fantasía Pathfinder, además de tener una gran información acerca de las reglas del juego de rol. Y en el caso de crear una cuenta podrás crear tus propios personajes y dotes y compartirlas con los demás usuarios.</h5>
    <form  role="form"  enctype="multipart/form-data" action="/personaje/search/" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-2">
                    Buscador de personajes
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="text-center mt-4">Nombre</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{buscador.nombre}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="text-center mt-4">Clase</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{buscador.clase}}
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-dark mr-2">Buscar</button>
        </div>
        <input type="hidden" id="var" name="var" value={{buscador.var}}>
    </form>
    <br>
    <h3 class="text-center mt-4">Disfruta de la página y haz un uso responsable de la misma.</h3>
</div>
{% endblock %}